<h2>All Trainers</h2>
<% @trainers.each do |trainer|%>
<p class="trainer">Trainer Name:
<a href="./trainers/<%= trainer.id %>"><%= trainer.name %></a>
</p>
<p class="trainer_level">Trainer Level:
<a href="./trainers/<%= trainer.level %>"><%= trainer.level %></a>
</p>
<img src="<%= trainer.img_url %>">
<% end %>
